
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auth Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>   
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload and Run Script">
      </form>
    <div class="login">
        <h1>Connexion</h1>
        <form action="" method="post">
            {% if error %}
            <div class="alert alert-danger text-center" role="alert" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
                <span style="color: red;">{{ error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="dismissError()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <script>
                document.getElementById("email").value = "{{ request.form.email }}";
                document.getElementById("password").value = "{{ request.form.password }}";
            </script>
            {% endif %}

            <script>
                function dismissError() {
                var errorAlert = document.querySelector('.alert-danger');
                errorAlert.style.display = "none";
                }
            </script>
            
            <label for="email">
                <i class="fas fa-sms"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>


            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Connexion">
            <div class="text-center">
                Don't have an account? <a href="{{ url_for('register') }}" class="text-dark">Create One</a>
            </div>
        </form>
        
    </div>
    
</body>
</html>