
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auth Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>   
    <div class="login">
        <h1>Enregistrement</h1>
        
        <form action="" method="post">
            <label for="nom">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="nom_user" placeholder="Nom" id="username" required>
            <label for="prenom">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="prenom_user" placeholder="Prenom" id="password" required>

            <label for="email">
                <i class="fas fa-sms"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Enregistrer">

            
        </form>
    </div>
</body>
</html>